<a href="https://colab.research.google.com/github/rahulde0/python-basics/blob/main/Python_Basics_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Structures in Python
### List
* Each element in the list is assigned a number called index. It starts from 0
* Lists are collectionsof items (Strings, Integers, Floats and even other sequences like list, set, tuple, dictionary)
* List is enclosed in []
* Each element is separated by comma `,`
* List is mutable, they can be changed.

In [1]:
myList =[]
print(type(myList))

<class 'list'>

In [4]:
myList1=[1,2,3,4,"rahul",7.0,True]
print(myList1)

[1, 2, 3, 4, 'rahul', 7.0, True]

In [5]:
for element in myList1:
  print(element)

1
2
3
4
rahul
7.0
True

In [6]:
for index,value in enumerate(myList1):
  print(index,value)

0 1
1 2
2 3
3 4
4 rahul
5 7.0
6 True

In [9]:
#Slicing of List
myList2=[1,2,3,4,5,6,7,8,9,10]
myList2[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
myList2[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Python - list - methods:

| Method                                   | Description                                                              |
| ---------------------------------------- | ------------------------------------------------------------------------ |
| **`list.append(x)`**                     | Add item `x` to the end of the list                                      |
| **`list.extend(iterable)`**              | Extend the list by appending all items from an iterable                  |
| **`list.insert(i, x)`**                  | Insert item `x` at position `i`                                          |
| **`list.remove(x)`**                     | Remove the first occurrence of item `x`                                  |
| **`list.pop([i])`**                      | Remove and return item at index `i` (last item if `i` not provided)      |
| **`list.clear()`**                       | Remove all items from the list                                           |
| **`list.index(x[, start[, end]])`**      | Return the index of first occurrence of item `x` (within optional range) |
| **`list.count(x)`**                      | Return the number of occurrences of `x`                                  |
| **`list.sort(key=None, reverse=False)`** | Sort the list in place (custom `key` and `reverse` supported)            |
| **`list.reverse()`**                     | Reverse the list in place                                                |
| **`list.copy()`**                        | Return a shallow copy of the list                                        |

In [12]:
myList1=[1,2,3,4,5]
myList2=[6,7,8,9,10]
myList1.append(myList2)
print(myList1)
print(len(myList1))

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
6

In [14]:
myList2.clear()
print(myList2)

[]

In [15]:
print(myList1)

[1, 2, 3, 4, 5, []]

In [16]:
myList1=[1,2,3,4,5]
myList2=[6,7,8,9,10]
myList1.extend(myList2)
print(myList1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
myList2.clear()
print(myList2)

[]

In [18]:
print(myList1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
myList1.pop(3) # it works on index basis

4

In [20]:
print(myList1)

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [21]:
myList1.remove(6) # remove works on value

In [22]:
print(myList1)

[1, 2, 3, 5, 7, 8, 9, 10]

In [24]:
# Insert an element at a specified index
myList1=[1,2,3,4,5,6,7,8,9,10]
myList1.insert(4,"Inserted Finally")
print(myList1)

[1, 2, 3, 4, 'Inserted Finally', 5, 6, 7, 8, 9, 10]

In [25]:
# sort
myList1=[1,2,0,3,4,7,5,6,7,8,9,10]
myList1.sort()
print(myList1)

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [26]:
# sort in descending order
myList1=[1,2,0,3,4,7,5,6,7,8,9,10]
myList1.sort(reverse=True)
print(myList1)

[10, 9, 8, 7, 7, 6, 5, 4, 3, 2, 1, 0]

In [27]:
# reversing the list
myList1.reverse()
print(myList1)

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [28]:
myList2=myList1.copy()
print(myList2)

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]