<a href="https://colab.research.google.com/github/rahulde0/python-basics/blob/main/Python_Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Statement - Singleline and Multiline Statement

In [1]:
number=10 # Single Line Statement
print(number)

10

In [2]:
# Multiline Statement - use a continuation character \

number=10+20+30+ \
40+50+60+ \
70+80+90
print(number)

450

In [3]:
# Use of Brackets to implement multiline statement
number=(10+20+30+
       40+50+60+
       70+80+90)
print(number)

450

# Python Strings
String is a sequence of Unicode character. We represent String using '' or "".
Multiline strings are denoted using"".

In [4]:
stringVariable = "Welcome to Python Programming"
print(stringVariable)

Welcome to Python Programming

In [5]:
stringVariable[0]

'W'

In [6]:
print(stringVariable[-1])
print(stringVariable[len(stringVariable)-1])

g
g

In [8]:
# Slicing Operations.
# Print the substring from 1st to 13 character.
print(stringVariable[0:13]) # string[ start_idx : end_idx+1]

Welcome to Py

In [9]:
# Print the substring with 15th character till last character
print(stringVariable[14:])  # if end index is not mentioned, it by default takes the ending index

hon Programming

In [13]:
print(stringVariable[::]) # string[start_idx : end_idx+1 : step_size]
print(stringVariable[6:15:]) # default step_size is 1
print(stringVariable[6:15:2]) # step_size 2 means it will print every 2nd item from the selected substring

Welcome to Python Programming
e to Pyth
et yh

In [14]:
# cursor moves from left to right when stepsize is +ve
# cursor moves from right to left when stepsize is -ve
print(stringVariable[::-1]) # reverse the string
print(stringVariable[::-2]) # reverse the string and print every 2nd item

gnimmargorP nohtyP ot emocleW
gimroPnhy teolW

In [19]:
string='123456789'
print(string[8:6:-1])
print(string[8:6])

98

In [20]:
print(string[-1:-3:]) # won't print anything because step size is +ve

In [21]:
print(string[-1:-3:-1])

98

In [22]:
print(string[0:-3:-1]) # won't print anything because left side of 0, there is nothing

In [25]:
strVal = 'Lets have a new string'
print(strVal[:-3:-1])   # if step size is -ve then default start index would be -1
print(strVal[-1:-3:-1])

gn
gn

In [29]:
strVal = 'Lets have a new string'
print(strVal[:-3:1])   # if step size is +ve then default start index would be 1
print(strVal[:-3:2])

Lets have a new str
Lt aeanwsr

In [30]:
strVal = 'Lets have a new string'
print(strVal[:-3:])   # default step size is +ve. Default start index is 0 and the cursor moves from left to right
print(strVal[3::-1])

Lets have a new str
steL

In [31]:
str_var='5'
print(type(str_var))

<class 'str'>

In [32]:
str_int = int(str_var)
print(type(str_int))

<class 'int'>

In [33]:
str_var1='5.5'
print(type(str_var1))

<class 'str'>

In [35]:
str_int1=int(float(str_var1)) # We cannot directly convert a string to int, we need to convert string to float and then float into int
print(type(str_int1))

<class 'int'>

# Output Formatting

In [42]:
myInt1=10
myInt2=20
myInt3=30
print(' Entered values are MyInt1 : ', myInt1, ' and MyInt2 : ', myInt2)

 Entered values are MyInt1 :  10  and MyInt2 :  20

In [37]:
# We will use str.format to beautify the outputs.
print('Entered values are MyInt1 : {} and MyInt2 : {}'.format(myInt1, myInt2))

Entered values are MyInt1 : 10 and MyInt2 : 20

In [38]:
# We will use str.format to beautify the outputs.
print('Entered values are MyInt1 : {0} and MyInt2 : {1}'.format(myInt1, myInt2))

Entered values are MyInt1 : 10 and MyInt2 : 20

In [39]:
# We will use str.format to beautify the outputs.
print('Entered values are MyInt2 : {1} and MyInt1 : {0}'.format(myInt1, myInt2))

Entered values are MyInt2 : 20 and MyInt1 : 10

In [40]:
# We will use str.format to beautify the outputs.
print('Entered values are MyInt1 : {num1} and MyInt2 : {num2}'.format(num1=myInt1, num2=myInt2))

Entered values are MyInt1 : 10 and MyInt2 : 20

In [43]:
# We will use str.format to beautify the outputs. positional argument will be followed by keyword argument
print('Entered values are MyInt1 : {} , MyInt2 : {} and MyInt3 : {num3}'.format(myInt1, myInt2, num3=myInt3))

Entered values are MyInt1 : 10 , MyInt2 : 20 and MyInt3 : 30

In [49]:
var = 3.123456
print(var)
# Round it to 2 places of decimal
print('Rounded to 2 decimal places : {:.2f}'.format(var))
print('Rounded to 2 decimal places : {:+.2f}'.format(var))

3.123456
Rounded to 2 decimal places : 3.12
Rounded to 2 decimal places : +3.12

In [48]:
var = -3.123456
print(var)
# Round it to 2 places of decimal
print('Rounded to 2 decimal places : {:.2f}'.format(var))

-3.123456
Rounded to 2 decimal places : -3.12

# Operators
1. Arithematic Operator
2. Comparison Operator
3. Logical (Boolean) Operator
4. Bitwise Operator
5. Assignment Operator
6. Special Operator

## Arithematic Operators
+, -, \*, /, %, //, ** are arithematic operators

In [50]:
variable1, variable2 = 5,2
print(" Addition: ", variable1+variable2)
print(" Substraction: ",variable1-variable2)
print(" Multiplication: ",variable1*variable2)
print(" Division: ",variable1/variable2)
print(" Modulo Division: ",variable1%variable2)
print(" Floor Division: ",variable1//variable2)
print(" Variable1 raised to power variable2: ",variable1**variable2)

 Addition:  7
 Substraction:  3
 Multiplication:  10
 Division:  2.5
 Modulo Division:  1
 Floor Division:  2
 Variable1 raised to power variable2:  25

##Comparison Operators
\>, <, ==, !=, >=, <=

In [52]:
variable1, variable2=5,2 #Implement all comparison Operators
print(" variable1 > variable2 : ", variable1>variable2)
print(" variable1 < variable2 : ", variable1<variable2)
print(" variable1 == variable2 : ", variable1==variable2)
print(" variable1 != variable2 : ", variable1!=variable2)
print(" variable1 >= variable2 : ", variable1>=variable2)
print(" variable1 <= variable2 : ", variable1<=variable2)

 variable1 > variable2 :  True
 variable1 < variable2 :  False
 variable1 == variable2 :  False
 variable1 != variable2 :  True
 variable1 >= variable2 :  True
 variable1 <= variable2 :  False

## Logical Operators -- operates on boolean data type
and, or, not

In [55]:
listVariable1=[True,False]
listVariable2=[True,False]
for i in listVariable1:
    for j in listVariable2:
        print(" variable1 : {0} and variable2 : {1} . So {0} and {1} gives {2} ".format(i,j,i and j))
        print(" variable1 : {0} and variable2 : {1} . So {0} or {1} gives {2} ".format(i,j,i or j))
        print(" variable1 : {0}, not of {0} gives {1}".format(i, not i))
        print('------------------------------------------------------------------')

 variable1 : True and variable2 : True . So True and True gives True
 variable1 : True and variable2 : True . So True or True gives True
 variable1 : True, not of True gives False
------------------------------------------------------------------
 variable1 : True and variable2 : False . So True and False gives False
 variable1 : True and variable2 : False . So True or False gives True
 variable1 : True, not of True gives False
------------------------------------------------------------------
 variable1 : False and variable2 : True . So False and True gives False
 variable1 : False and variable2 : True . So False or True gives True
 variable1 : False, not of False gives True
------------------------------------------------------------------
 variable1 : False and variable2 : False . So False and False gives False
 variable1 : False and variable2 : False . So False or False gives False
 variable1 : False, not of False gives True
------------------------------------------------------------------

## Bitwise Operator
Converts Decimal to Binary then performs the operations in binary, the result is also a binary output and that is conveted to decimal before display.

* &          (Bitwise AND)
* |          (Bitwise OR)
* ~          (Bitwise NOT)
* ^          (Bitwise XOR)
* \>>        (Bitwise Right Shift)
* <<         (Bitwise Left Shift)

In [59]:
var1=3 # 0000 0011
var2=7 # 0000 0111
print (var1 & var2)  # output: 3
print (var1 | var2)  # output: 7
print (~var1)        # output: -4 (in 2's complement representation)
print (var1 ^ var2)  # outout: 4
print (var1 >> 1)    # output: 1
print (var1 >> 2)    # output: 0
print (var1 << 1)    # output: 6
print (var1 << 2)    # output: 12

3
7
-4
4
1
0
6
12