<a href="https://colab.research.google.com/github/rahulde0/python-basics/blob/main/Python_Basics_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Functions
* A group of related statements that perform a specific task is called a Function.
* Function helps in modularizing code, oraganized and easy to maintain, reusability

In [2]:
def sumOfNumbers(numbers):
  sum=0
  for number in numbers:
    sum+=number
  return sum

sumOfNumbers([1,2,3,4,5])

15

Built-In Functions

In [3]:
#abs()
varInt=-100
print(abs(varInt))

100

In [4]:
#all() - Returns true when all the values inside all() function are true
varList = [1,2,3,4,5]
print(all(varList))

True

In [5]:
varList = [1,2,3,4,5,0]
print(all(varList))

False

In [6]:
# dir()
number =[1,2,3,4,5]
print(dir(number))

# use all functions returned by dir on number

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
# divmod() - returns both quotient and remainder
print(divmod(9,2)) # type is tuple

(4, 1)

In [8]:
# Enumerate - returns index and it's value
myList=[1,2,3,4,5,6,7,8,9,10]
for value in enumerate(myList):
  print(value)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [9]:
# filter - condition check
# WAP to return even number from the list.
def even_check(num):
  if num%2==0:
    return num

In [11]:
print(even_check(1)) # boolean of None is False

None

In [12]:
myList=[1,2,3,4,5,6,7,8,9,10]
list(filter(even_check,myList))

[2, 4, 6, 8, 10]

In [13]:
#map - It returns whatever it gets
list(map(even_check,myList))

[None, 2, None, 4, None, 6, None, 8, None, 10]

In [16]:
# Reduce - reduces the iterable list to single aggregate value
# How it works? -
# 1st iteration - reduce function asks myList1 to give first 2 values, if present
# Remaining iteration - it passes one value at a time - gets added to previous sum
from functools import reduce

def sum(x,y):
  return x+y

myList1 = list(range(1,101))
reduce(sum,myList1)

5050

In [17]:
# Till now we knew how many attributes we are passing to function
# Arbitary Function --> *args --> *names
def greet(*names):
  print(names)
  for name in names:
    print('Welcome to the party {} !!'.format(name))

greet('Amit','Ajit','Sujit','Sanjit')

('Amit', 'Ajit', 'Sujit', 'Sanjit')
Welcome to the party Amit !!
Welcome to the party Ajit !!
Welcome to the party Sujit !!
Welcome to the party Sanjit !!

In [21]:
# **kwargs
def printMarks(name, **marks):
  print(marks)
  print("Student Name --> ", name)
  for key, value in marks.items():
    print('Subject: {} --->  Marks : {}'.format(key,value))

printMarks("Amit", Maths='100', Science='99', Literature='98')

{'Maths': '100', 'Science': '99', 'Literature': '98'}
Student Name -->  Amit
Subject: Maths --->  Marks : 100
Subject: Science --->  Marks : 99
Subject: Literature --->  Marks : 98

In [22]:
myDict={'Maths':'100','Science':'99','Literature':'98'}
print(myDict)
#

{'Maths': '100', 'Science': '99', 'Literature': '98'}

In [23]:
def printMarks(name, marksDict):
  print("Student Name :",name)
  for sub, marks in marksDict.items():
    print('Subject: {} --->  Marks : {}'.format(sub,marks))

printMarks("Amit", myDict)

Student Name : Amit
Subject: Maths --->  Marks : 100
Subject: Science --->  Marks : 99
Subject: Literature --->  Marks : 98

In [24]:
# Named Functions:
def square(x):
  return x**2

square(5)

25

In [25]:
# Lambda - anonymous functions:
sqlambda = lambda x: x**2
sqlambda(5)

25

In [26]:
# use filter with lambda
myList=[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x%2==0,myList))

[2, 4, 6, 8, 10]

In [27]:
# use map using lambda
# we want to perform cube of each number using lambda function
list(map(lambda x: x**3,myList))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [28]:
# print the cube of odd numbers
list(map(lambda x: x**3,filter(lambda x: x%2!=0,myList)))

[1, 27, 125, 343, 729]

In [29]:
reduce(lambda x,y:x*y, myList)

3628800