<a href="https://colab.research.google.com/github/rahulde0/python-basics/blob/main/PY_Basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
var = 10+10
print (var)

20

In [8]:
'''
This is multi-line comment.
comment line 1
comment line 2
'''
firstVar=10
secondVar=20
print(firstVar+secondVar)

30

In [10]:
# Single line comment
# Single line comment
print("Hello World")

Hello World

In [11]:
def add(a,b):
    '''
    This function takes 2 values as input and returns the sum of the values.
    '''
    sum = a+b
    return sum

In [12]:
var_sum=add(10,20)
print(var_sum)

30

In [14]:
#Indentation: It is a good way to keep the code readable
variable1=10; variable2=20;
for i in range(1,4): print(i); print('-----'); print(variable1+variable2) # Not Readable code

1
-----
30
2
-----
30
3
-----
30

In [15]:
# Reader Friendly code
variable1=10;
variable2=20;
for i in range(1,4):
  print(i);
  print('-----');
  print(variable1+variable2)

1
-----
30
2
-----
30
3
-----
30

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
# Variable Assignments: rules for writing a variable name is same as rules for writing identifiers in python.
# '=' operator is used to assign variables
integerNumber=4
decimalNumber=22.2
stringVariable="StringValue"
print (integerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [17]:
#Multiple Assignments
integerNumber, decimalNumber, stringVariable = 4, 22.2, "This is text data"
print (integerNumber, decimalNumber, stringVariable)

4 22.2 This is text data

In [19]:
#Assign same value to multiple variables
var1=var2=var3="My Name is Rahul"

In [20]:
# Address of the variables
print('Id of var1 is : ', id(var1))
print('Id of var2 is : ', id(var2))
print('Id of var3 is : ', id(var3))

Id of var1 is :  136464042824832
Id of var2 is :  136464042824832
Id of var3 is :  136464042824832

In [21]:
var3="changed"

In [22]:
print('Id of var1 is : ', id(var1))
print('Id of var2 is : ', id(var2))
print('Id of var3 is : ', id(var3))

Id of var1 is :  136464042824832
Id of var2 is :  136464042824832
Id of var3 is :  136465025430384

DataTypes in Python

In [23]:
# type() --> know the data type of the variable
# instance() ---> to know the class of the variable
data1=12
print(data1, ' is of type : ' , type(data1))
print(isinstance(data1, int))

12  is of type :  <class 'int'>
True

In [24]:
data2=12.5 # Floating point integer
print(data2, ' is of type : ' , type(data2))
print(isinstance(data2, float))

12.5  is of type :  <class 'float'>
True

In [25]:
data3=100+20j # data type is changed to complex number
print(data3, ' is of type : ', type(data3))
print(isinstance(data3, complex))

(100+20j)  is of type :  <class 'complex'>
True

In [26]:
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9,'Append Anything']
list1.append(list2)

In [27]:
print(list1)

[1, 2, 3, 4, 5, [5, 6, 7, 8, 9, 'Append Anything']]

In [28]:
type(list1)
isinstance(list1, list)

True

In [30]:
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, [5, 6, 7, 8, 9, 'Append Anything'], 5, 6, 7, 8, 9, 'Append Anything', 5, 6, 7, 8, 9, 'Append Anything']

In [31]:
list3=[1,2,3]
list4=[4,5,6]
list3.extend(list4) # all individual values of list4 will be added into list3
print(list3)

[1, 2, 3, 4, 5, 6]

In [32]:
list5=[1,2,3]
list6=[4,5,6]
list5.append(list6) # list6 will be added as an element into list5
print(list5)

[1, 2, 3, [4, 5, 6]]