<a href="https://colab.research.google.com/github/rahulde0/python-basics/blob/main/Python_Basics_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mylist2=[5,6,7,8,9]
mylist1=[1,2,3,4]
mylist2=mylist1.append(mylist2)
print(mylist2)

None

## Tuples
*Similar to list, but it is immutable

*Can have mixed data type

In [2]:
emptyTuple=() # creates empty tuple
print(type(emptyTuple))
print(isinstance(emptyTuple,tuple))
print(emptyTuple)

<class 'tuple'>
True
()

In [3]:
myTuple=(1,2.0,'a',True,None,(1,2,3))
print(myTuple)

(1, 2.0, 'a', True, None, (1, 2, 3))

In [4]:
# Can have other sequences like list, set, dictionary, tuple
mixedTuple=([1,2,3,4,5],{1,2,3,4,5},{1:'a',2:'b'},(1,2,3,4,5))
print(mixedTuple)

([1, 2, 3, 4, 5], {1, 2, 3, 4, 5}, {1: 'a', 2: 'b'}, (1, 2, 3, 4, 5))

In [7]:
tupleStr=('Amit')
tupleStr1=('Amit',)
print(tupleStr)
print(type(tupleStr))  # If we have a single item in a tuple, it will consider it string.
print(tupleStr1)
print(type(tupleStr1)) # Best practice is to provide , after string then it will be tuple

Amit
<class 'str'>
('Amit',)
<class 'tuple'>

In [10]:
tupleStr=(10)
print(tupleStr)
print(type(tupleStr))
tupleStr1=(10,)
print(tupleStr1)
print(type(tupleStr1))

10
<class 'int'>
(10,)
<class 'tuple'>

In [11]:
# Accessing elements of tuple
myTuple=('Amit','Ajit','Sujit','Rachit','Sanchit')
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])

Amit
Ajit
Sujit
Rachit
Sanchit

In [12]:
myTuple[1]='Manjeet'

TypeError: 'tuple' object does not support item assignment

In [17]:
tuple1=(1,2,3,4,5,[1,2,3,4,5])
print(tuple1)
tuple1[5][0]=10
print(tuple1)
tuple1[5].insert(2,100)
print(tuple1)

(1, 2, 3, 4, 5, [1, 2, 3, 4, 5])
(1, 2, 3, 4, 5, [10, 2, 3, 4, 5])
(1, 2, 3, 4, 5, [10, 2, 100, 3, 4, 5])

In [13]:
# Slicing in tuple is same as list and string
myTupleList=(1,2,3,4,5,6,7,8,9,10)
print(myTupleList[2:5])
print(myTupleList[::-1])
print(myTupleList[5:])

(3, 4, 5)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(6, 7, 8, 9, 10)

In [14]:
#Accessing data in Nested tuples
myTuplenested=(((1,2,3),4,5,6),7,8,9,10)
print(myTuplenested)

(((1, 2, 3), 4, 5, 6), 7, 8, 9, 10)

In [18]:
myTuplenested[0][0][2]

3

In [20]:
# concatenation of tuples
myTuple1=(1,2,3,4,5)
myTuple2=(6,7,8,9,10)
print(myTuple1+myTuple2)
myTuple3=myTuple1+myTuple2
print(myTuple3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [21]:
# Repeat multiple times using * operator
nameTuple=('Amit',)
print(nameTuple*5) # creates a new tuple with 5 entries

('Amit', 'Amit', 'Amit', 'Amit', 'Amit')

In [22]:
#Deleting from tuple
#Since tuple is immutable, elements cannot be deleted one by one, we use del key to delete entire tuple
myTuple=('Amit','Ajit','Sujit','Rachit','Sanchit')
del myTuple
print(myTuple)

NameError: name 'myTuple' is not defined

###Tuple Functions

* Count and index method for searching an item.

In [23]:
myTuple=('Amit',132,'Amit',100,'Amit',323)
myTuple.count('Amit')

3

In [24]:
#index -> Get the index of position of an item
myTuple.index('Amit') # returns first item int the tuple

0

In [25]:
myTuple.index('Amit',2,4) # between Starting index 2 and ending index 4

2

## Set
* Set is an unordered collection of items
* Every element is unique
* Set can be used to perform operations like union, intersection, symmetric difference etc

In [26]:
mySet={}  # It will return empty dictionary
print(type(mySet))

<class 'dict'>

In [27]:
mySet=set()  # this is the way to define empty set
print(type(mySet))

<class 'set'>

In [28]:
mySet={1,2,3,4,5,6,7,8,9,10}
print(mySet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
# we can also convert list into set
myList=[1,2,3,3,3,4,5,6,6,6,7,8,9,10]
mySet=set(myList)
print(mySet) # All the duplicates will be removed while converting list to set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
# Modification is possible in set as they are mutable
mySet.add(11) # It will be added at end of the set
print(mySet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [32]:
#We can add multiple elements using update method
mySet.update([11,12,13,14,15])
print(mySet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [38]:
# Adding a list and a set to the original set
mySet.update([16,17,18],{19,20,21})
print(mySet)

{1, 2, 3, 4, (1, 2, 3, 4), 16, 17, 18, 19, 20, 21, 111}

In [34]:
mySet.update(1) # int is not iterable element, so unable to update
print(mySet)

TypeError: 'int' object is not iterable

In [37]:
mySet.update([111]) # int is not iterable element, so unable to update
print(mySet)

{(1, 2, 3, 4), 1, 2, 3, 4, 111}

In [35]:
mySet={1,2,3,4,[1,2,3,4],{1,2,3,4}} # list cannot be an element in a set,as it is not hashable
print(mySet)

TypeError: unhashable type: 'list'

In [36]:
mySet={1,2,3,4,(1,2,3,4)}  # we can have tuples as an element in a set, because it is hashable and iterable
print(mySet)

{(1, 2, 3, 4), 1, 2, 3, 4}

In [39]:
mySet={1,2,3,4,5}
mySet.update('Sanchit')
print(mySet)

{1, 2, 3, 4, 5, 'i', 'n', 't', 'S', 'h', 'a', 'c'}

In [40]:
mySet={1,2,3,4,5}
mySet.update(['Sanchit'])
print(mySet)

{1, 2, 3, 4, 5, 'Sanchit'}

In [ ]:
# Removing elements from Set
# remove()  -
# discard() - removes said element, but does not raise the KeyError
# pop() - remove a random item
# clear() - clear the entire set

In [41]:
mySet={11,12,13,14,15,16,17}
print(mySet)

{16, 17, 11, 12, 13, 14, 15}

In [42]:
mySet.discard(20) # Does not throw any error if element not found
print(mySet)

{16, 17, 11, 12, 13, 14, 15}

In [44]:
mySet.pop() # Removes random value

17

In [45]:
print(mySet)

{11, 12, 13, 14, 15}

In [46]:
mySet.clear()
print(mySet)

set()

In [47]:
# Set Operations
mySet1={1,2,3,4,5}
mySet2={4,5,6,7,8,11,22,33}
print(mySet1.union(mySet2)) # Returns all unique values after combining two sets

{1, 2, 3, 4, 5, 33, 6, 7, 8, 11, 22}

In [48]:
print(mySet1.intersection(mySet2)) # Return common element of two sets

{4, 5}

In [49]:
print(mySet1.symmetric_difference(mySet2)) # Return everything apart from common items among sets

{33, 1, 2, 6, 7, 8, 3, 11, 22}

As tuples are immutable lists. Similarly, frozensets are immutable sets

In [52]:
# Frozensets support method like copy(), difference(), intersection(), issubset(), issuperset(), symmetric_difference() and union()
myFSet1=frozenset([1,2,3,4,5,6,7,8,9])
myFSet2=frozenset([11,22,7,8,9,22,33])
print(myFSet1.union(myFSet2))
print(myFSet1.intersection(myFSet2))
print(myFSet1.symmetric_difference(myFSet2))
print(myFSet1.difference(myFSet2))
print(myFSet1.isdisjoint(myFSet2))
print(myFSet1.issubset(myFSet2))
print(myFSet1.issuperset(myFSet2))

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 11, 22})
frozenset({8, 9, 7})
frozenset({1, 2, 3, 4, 5, 6, 11, 22, 33})
frozenset({1, 2, 3, 4, 5, 6})
False
False
False

In [53]:
myFSet1.add(20)

AttributeError: 'frozenset' object has no attribute 'add'

## Dictionary
*It is an unordered collection of items
*Dictionary has key and value

In [54]:
myDict={}
print(type(myDict))

<class 'dict'>

In [56]:
myDict={'key1':"value1",'key2':"value2", 'key3':'value3'}
print(myDict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [58]:
myDict= dict(key1='value1',key2='value2',key3='value3')
print(myDict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [59]:
myDict={1:'value1',2:'value2',3:'value3'}
print(myDict)

{1: 'value1', 2: 'value2', 3: 'value3'}

In [57]:
myDict=dict([(1,'Amit'),(2,'Ajit'),(3,'Sujit')])
print(myDict)

{1: 'Amit', 2: 'Ajit', 3: 'Sujit'}

In [60]:
myDict['key4'] = 'value4'

In [61]:
print(myDict)

{1: 'value1', 2: 'value2', 3: 'value3', 'key4': 'value4'}

In [62]:
myDict['key4'] = 4
print(myDict)

{1: 'value1', 2: 'value2', 3: 'value3', 'key4': 4}

In [63]:
print(myDict.pop('key4'))

4

In [64]:
print(myDict)

{1: 'value1', 2: 'value2', 3: 'value3'}

In [65]:
myDict.clear()
print(myDict)

{}

In [66]:
del myDict # deleted entire dictionary
print(myDict)

NameError: name 'myDict' is not defined

In [67]:
#Dictionary Methods
myDict={'key1':"value1",'key2':"value2", 'key3':'value3'}
myDict1=myDict.copy()
print(myDict1)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [68]:
myDict['key4']='value4'
myDict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [70]:
varDict = {2:4,3:9,4:16,5:25}
print(varDict)
print(varDict.items())

{2: 4, 3: 9, 4: 16, 5: 25}
dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [71]:
for key,value in varDict.items():
  print(key,value)

2 4
3 9
4 16
5 25

In [72]:
[(key,value) for key,value in varDict.items()][0]

(2, 4)

In [74]:
varDict.keys()

dict_keys([2, 3, 4, 5])

In [75]:
[ i for i in varDict.keys()]

[2, 3, 4, 5]

In [76]:
varDict.values()

dict_values([4, 9, 16, 25])

In [79]:
fruits = {'apple':100, 'banana':200, 'grapes':300, 'pineapple':400}
# using dictionary comprehension print dictionary items as list wehre the stock is greater then 200
{key:value for key,value in fruits.items() if value>200}
[(key,value) for key,value in fruits.items() if value>200]

[('grapes', 300), ('pineapple', 400)]