<a href="https://colab.research.google.com/github/rahulde0/python-basics/blob/main/Python_Basics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment Operators
=, +=, -=, *=, /=, %=, //=, &=, |=, ^=, >>=, <<=

In [5]:
age =40  # '=' used to assign the value to variable

In [7]:
age +=4  # age=age+4
print(age)

age -=4
print(age)

age *=4
print(age)

age /=4
print(age)

48
44
176
44.0

## Special Characters

In [8]:
# Identity Operators
# 'is' and 'is not' are identity operators in python
var1=20
var2=20
print(var1 is var2) # in Python small integer values between -5 to 256 is stored in cache memory.

True

In [9]:
var3=2000
var4=2000
print(var3 is var4) # is operator checks if they are from same memory location or not.

False

In [10]:
var5=-4
var6=-4
print(var5 is var6)

True

In [11]:
var7=-6
var8=-6
print(var7 is var8)

False

In [14]:
'aasssasa' is 'aasssasa'

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
/tmp/ipython-input-4263127639.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  'aasssasa' is 'aasssasa'

True

In [16]:
firstVar=2000
secondVar=firstVar # It does  not assign new memory to secondVar
print(firstVar is secondVar)
print(id(firstVar))
print(id(secondVar))

True
140199976597712
140199976597712

In [17]:
firstVar=2000
print(firstVar is secondVar)
print(id(firstVar))
print(id(secondVar))

False
140199976598736
140199976597712

In [18]:
x=None
print(x)
print(type(x))
y=None
print(x is y)

None
<class 'NoneType'>
True

In [20]:
from typing import Final
PI: Final=3.14
print(PI)
PI=3.16  # It is not enforcing, but it gives us warning
print(PI)

3.14
3.16

In [21]:
var1=1000
var2=1000
print(var1 is not var2)

True

## Membership Operators
'in' and 'not in' are membership operators.

They are used to test whether a values is variable is found in a sequence (string, list, tuple, set, dictionary)

In [22]:
myList = ['a','asd',1.0,3.0,{2:2}]
print(3 in myList)
print(2 in myList) # 2 is not in myList, it is part of dictionary

True
False

In [23]:
print(2 not in myList)

True

## Conditional Statements
if, if-else, if-elif-else
## Loops
while, for, while -else, for-else

In [24]:
number = 20
if (number>10):
  print('Inside If - Line 1')
  print('Inside If - Line 2')
print('Outside If')

Inside If - Line 1
Inside If - Line 2
Outside If

In [25]:
if 0:
  print('Inside If')
print('Outside If')

# In Python boolena value of 0 is False. All Other numerical values hold true

Outside If

In [26]:
if -1:
  print('Inside If')
print('Outside If')

Inside If
Outside If

In [27]:
if None:
  print('Inside If')
print('Outside If')

Outside If

In [31]:
print(bool(None))
print(bool(''))
print(bool(0))
print(bool(0.0))
print(bool([]))
print(bool({}))
print(bool(set()))

False
False
False
False
False
False
False

In [32]:
print(bool(' '))

True

In [33]:
#If-Else
age=21
if age>18:
  print('You are eligible to vote')
else:
  print('You are not eligible to vote')

You are eligible to vote

In [36]:
# Nested If / if-else
age=24
isIndianCitizen=False
if age>=18:
  if isIndianCitizen:
    print('You are eligible to vote')
  else:
    print('You are not eligible to vote because of citizenship')
else:
  print('You are not eligible to vote becuase of age')

print('Check Completed!')

You are not eligible to vote because of citizenship
Check Completed!

In [38]:
age=1
person_type='not sure'
if age>=13 and age <=19:
  person_type='Teen'
elif age>=0 and age<=12:
  person_type='Child'
else:
  person_type='Adult'
print(person_type)

Child

## Loops in Python

In [39]:
# while loop
# Find the sum of first 100 numbers
index=1
sum=0
while index<=100:
  sum+=index
  index+=1
print('Sum of First 100 numbers is: ',sum)

Sum of First 100 numbers is:  5050

In [40]:
#Infinite Loop
#while True:
#  print('While Loop')

In [43]:
# Break with While
myList = [1,2,3,4,5,6,7,8,9,10]
index=0
while index <len(myList):
  print(myList[index])
  if myList[index]==5 :
    break
  index+=1
print('Loop exited at index {}'.format(index))

1
2
3
4
5
Loop exited at index 4

In [42]:
# Break with While
myList = [1,2,3,4,5,6,7,8,9,10]
index=0
while index <len(myList):
  print(myList[index])
  if myList[index]==5 :
    break
  index+=1
else:
  print('Else block executed')

print('Loop exited at index {}'.format(index))

1
2
3
4
5
Loop exited at index 4

In [49]:
#Calculate the factorial of a number
#Use while, break and else as needed
userInput = int(input('Enter a number: '))
factorial = 1
index = 1

if userInput < 0:
  print("Factorial is not defined for negative numbers")
elif userInput == 0:
  print("Factorial of 0 is 1")
else:
  while index <= userInput:
    factorial *= index
    index += 1
  else:
    print(f"The factorial of {userInput} is {factorial}")

Enter a number: -9
Factorial is not defined for negative numbers

In [50]:
# for loop and for else loop
for i in range(1,10):
  print(i)
else:
  print('In Else Block')
print('Out of For Else loop')

1
2
3
4
5
6
7
8
9
In Else Block
Out of For Else loop

In [51]:
for i in myList:
  print(i)
  if i==5:
    break
else:
  print('In Else Block')
print('Out of For Else loop')

1
2
3
4
5
Out of For Else loop

In [52]:
for i in myList:
  if i==5:
    continue
  print(i)
else:
  print('In Else Block')
print('Out of For Else loop')

1
2
3
4
6
7
8
9
10
In Else Block
Out of For Else loop